<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Anchoco</title>
</head>
<body>
<body>
    <div class="container">
        <h1>Anchoco</h1>
        <div id="paypal-button-container"></div>
        <form role="form" method="post" id="loign-form" class="login-form" action="./top.html" th:action="@{/top}">
            <label for="input-name">Name:</label>
            <input id="input-name" type="text" required="required" placeholder="type your name">
            <label for="input-password">Password:</label>
            <input id="input-password" type="password" required="required" placeholder="type yotu password">
            <input type="submit" value="LOGIN">
        </form>
    </div>
</body>
</html>